@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Black;
    src: url('../fonts/HelveticaLTPro-Black.otf');
}
@font-face {
    font-family: Bold;
    src: url('../fonts/HelveticaLTPro-Bold.otf');
}

@font-face {
    font-family: Light;
    src: url('../fonts/HelveticaLTPro-Light.otf');
}
@font-face {
    font-family: Roman;
    src: url('../fonts/HelveticaLTPro-Roman.otf');
}

.van-dialog {
    padding-top: 10px!important;
}

.van-dialog__footer {
    width: 160px;
    margin: 0 auto;
    overflow: visible!important;
    .van-dialog__confirm, .van-dialog__confirm:active {
        // background: #072b48;
        // height: 40px;
        border-radius: 10px;
        color: #fff;
        margin-bottom: 20px;
        text-indent: -9999px;
        background: url('@/assets/download@2x.png') no-repeat center center;
        background-size: 100%;
    }
}

.van-dialog__cancel {
    width: 40px!important;
    height: 40px!important;
    position: absolute!important;
    top: -115px!important;
    right: -70px!important;
    font-size: 14px!important;
    background: url('@/assets/close.png') no-repeat center center!important;
    background-size: 50%!important;
    text-indent: -9999px!important;
}

.van-dialog__header {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0px;
    padding-top: 0!important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
}
.van-dialog__message {
    color: #072b48!important;
    font-size: 16px!important;
    line-height: 1.7!important;
}